[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
flask-debugtoolbar = "*"
pyjwt = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
bs4 = "*"
sanic = "*"
aiopg = "*"
hypercorn = "*"

[requires]
python_version = "3.7"
